/* colors  */

:root { --main-grey: #212121; 
    --white: #FFFFFF; 
    --light-grey: #757575;
    --blue: #2196F3;
    --beige-1: #EEEEEE;
    --black: #000000;
    --beige-2: #F5F4FA;
    --dark-grey: #2F303A;
    --beige-3: #ECECEC;
}

/* colors end */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-grey);
    background-color: var(--white);
    font-size: 14px;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

header {
    border-bottom: 1px solid var(--beige-3);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 94px 0;
}

.flex-nav-container {
    display:flex;
    align-items: center;
}

.nav-menu {
    margin-left: 93px;
    
}

.menu {
    display: flex;
    gap: 46px;
}

    
.contact-list {
    display:flex;
    gap: 50px;
    margin-left: auto;
}

.contact li {
    margin: 0 50px;
}

button {
    cursor: pointer;
    font-family: inherit;
    display: block;
    border: none;
    border-radius: 4px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo-span {
    color: var(--black)
}

.logo-footer-span {
    color: var(--white);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
    text-decoration: none;
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-grey);
    padding: 32px 0;
    display: block;
}

.contact-link:active, .contact-link:hover, .contact-link:focus {
    color: var(--blue);
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--light-grey);
}
.contact:active, .contact:hover, .contact:focus {
    color: var(--blue);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.button-filter {
    background: var(--beige-2);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.62;
    text-align: center;
    padding: 6px 25px;
}

.button-filter:hover, .button-filter:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-list {
    padding-top: 0;
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin: 0;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-grey);
    margin-top: 4px;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.border-portfolio-item {
    border: 1px solid var(--beige-1);
    border-top: none;
    padding: 20px 24px;
}

footer {
    background-color: var(--dark-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

address {
    font-style: normal;
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
}

.address li:not(:last-child) {
    margin-bottom: 9px;
}

.address-link:hover, .address-link:focus{
    color: var(--blue);
}

.address-transparent {
    color: rgba(255, 255, 255, 0.6);
}
